.navigation {
    text-align: center;
    background-color: lightseagreen;
    border: solid 1px lightgreen;
    border-radius: 15px;
}

.navigation li {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    display: inline-block;
    margin: 0 20px;
    padding: 20px 0px;
    text-transform: uppercase;
    border: 2px dotted darkslategray;
    margin: 1px;
    padding: 2px;
}

.Profile,
.Education,
.volunteer,
.work,
.additional {
    border-style: solid;
    border-width: medium;
    border-radius: 15px;
    border-color: saddlebrown;
}

.Profile {
    display: inline-block;
    width: 100%;
    background-color: lightyellow;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.page-header {
    text-align: right;
    padding-right: 15px;
}

#name {
    font-family: Georgia;
}

.Education {
    font-family: Verdana;
    padding-left: 15px;
    background-color: lightgreen;
    text-align: left;
}

.title {
    font-weight: 20px;
    font-family: Georgia;
}

.volunteer {
    text-align: right;
    background-color: lightyellow;
    padding-right: 15px;
}

.work {
    padding-left: 15px;
    background-color: lightgreen;
}

.additional {
    text-align: right;
    background-color: lightyellow;
    padding-right: 15px;
}