a:hover {
    text-decoration: none;
    color: red;
}

.page-header {
    background-color: lightyellow;
}

.interests {
    background-color: mediumspringgreen;
}

.homework {
    text-align: center;
    background-color: lightslategrey;
}

.skill {
    text-align: center;
    background-color: navajowhite;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}