.navigation {
    text-align: center;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0 20px;
    padding: 20px 0px;
    text-transform: uppercase;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    margin: 2px;
    padding: 2px;
}

.title {
    display: inline-block;
}

img {
    height: 180px;
    width: 180px;
    border: solid medium saddlebrown;
    border-radius: 15px;
    margin-left: 0;
}

.page-header {
    height: 180px;
    width: 400px;
    background-color: lightyellow;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    border-color: saddlebrown;
    text-align: right;
    padding-right: 12px;
    margin-right: 0;
}

#name {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.homework {
    text-align: center;
    background-color: lightgray;
    border-style: double;
    border-width: medium;
    border-radius: 15px;
    border-color: saddlebrown;
    padding: 12px;
    color: blue;
}

#homework {
    font-family: Courier, monospace;
}

a:hover {
    text-decoration: none;
    color: lightseagreen;
}

.skill {
    text-align: center;
    background-color: navajowhite;
    border: groove medium saddlebrown;
    border-radius: 15px;
    padding: 12px;
}

.interests {
    background-color: lightpink;
    border: inset medium saddlebrown;
    border-radius: 15px;
    padding: 12px;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}